@charset "UTF-8";
html{scroll-behavior: smooth;}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #fff;
  }
#header{
  width: 100%; height: 5vw;
  position: absolute;
  top:0; left: 0;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 100000000;
}
#header h1{
  font-size: 1.5vw;
  margin-left: 3vw;
  box-sizing: border-box;
}
#header>ul{
  width: 40%;
  z-index: 1000;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  font-size: 1.2vw;
  margin-right: 3vw;
  box-sizing: border-box;
}
#header .hamburger_menu>.column_box{
  background-color: #111111f5;
  width: 70%; height: 100vh;
  position: absolute;
  top:0;
  right: 0;
  color: #575555;
  z-index: 1000000;
  display: flex;
  flex-direction: column;
}
#header .hamburger_menu>.column_box>.close{
  font-size: 10vw;
  position: absolute;
  top: 0;
  right: 8%;
  cursor: pointer;
  z-index: 11;
  color: white;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb{
  margin-top: 35%;
  margin-left: 5%;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li{
  margin-bottom: 20%;
  line-height: 6vw;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu{
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu a{
  font-size: 5vw;
  font-weight: bold;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu a:hover{
  color: #dd4f5f;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.hamburg_sub{
  margin-top: 10vw;
  height: auto;
  box-sizing: border-box;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.hamburg_sub>li{
  font-size: 4.2vw;
  margin-top: 3vw;
  margin-left: 2%;
  color: #838282;
  cursor: pointer;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu .open{
  font-size: 7vw;
  font-weight: bold;
  margin-right: 5%;
  display: none;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu .shut{
  font-size: 5vw;
  font-weight: bold;
  margin-right: 5%;
}
#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.hamburg_sub>li:hover{
  width: 95%;
  background-color: #d7b8bcb8;
  color: white;
}
#header .hamburger_menu>.hamburger_icon{
  font-size: 7vw;
  position: absolute;
  top:3vw;
  right: 5%;
  z-index: 1000;
  cursor: pointer;
  /* display: none; */
  }
#header>.hamburger_menu{
  display: none;
}
#section .cursor{
  position: absolute;
  z-index: 100;
}
#section .cursor>img{
  width: 10%;
  z-index: 100;
  filter:contrast(200%)
}
#section .quick_menu{
  position: fixed;
  bottom: 2vw; right: 2vw;
  font-size: 1.1vw;
  z-index: 100;
}
#section .quick_menu .quick_sub{
  display: none;
}
#section .quick_menu .quick_sub>li{
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  /* background-color: #4294ff; */
  margin-right: 0.2vw;
}
#section .quick_menu .quick_sub>li>a>i{
  text-align: center;
  align-content: center;
  width: 2.5vw; height: 2.5vw;
  margin-bottom: 0.5vw;
  border: 2px solid #ffffff;
  background-color: #9a1216;
  border-radius: 50%;
  margin-left: 0.5vw;
}
#section .quick_menu .quick_sub>li>p{
  align-content: center;
  font-size: 0.8vw;
  display: none;
}
#section .quick_menu .quick_sub>li:hover>a>i{
  color: #9a1216;
  background-color: #ffffff;
  border-color: #9a1216;
}
#section .quick_menu .quick_sub>li:hover>p{
  display: block;
}
#section .quick_menu .quick_btn{
  width: 3vw; height: 3vw;
  font-size: 3vw;
  cursor: pointer;
  color: #9a1216;
  margin-left: 5vw;
}
#section #section1{
  background-image:url(images/main_bg.png);
  background-size: cover;
  width: 100%; height: 55vw;
  align-content: center;
  box-sizing: border-box;
}
#section #section1 .canvas{
  box-sizing: border-box;
}
#section #section1 .s1_center>h1>img{
  position: absolute;
  top: 21.5vw; left: 25vw;
  width: 50%;
  z-index: 10;
  box-sizing: border-box;
}
#section #section1 .s1_center>h2>img{
  position: absolute;
  top:14.2vw; left: 30.5vw;
  width: 37%;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
}
100% {
    transform: rotate(0deg);
}
}
#section #section2{
  width: calc(100 - 20px); height: 50vw;
  background-color: #fffdee;
  box-sizing: border-box;
}
#section #section2>.profile_content>h1{
  padding: 3vw 0;
  padding-left: 5vw;
  z-index: 100000000000;
  font-size: 2.5vw;
  color: black;
  box-sizing: border-box;
}
#section #section2>.profile_content>.profile_wrap{
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  z-index: 10000;
  color: black;
}
#section #section2>.profile_content>.profile_wrap>.profile_box{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#section #section2>.profile_content>.profile_wrap>.profile_box:nth-child(1){
  display: flex;
  justify-content: space-between;
}
#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li:nth-child(1)>h1{
  color: #f5232a;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  box-sizing: border-box;
}
#section #section2>.profile_content>.profile_wrap>.profile_box>ul:nth-child(1)>li, #section #section2>.profile_content>div>ul:nth-child(3)>li{
  display: flex;
}
#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li{
  font-size: 1.1vw;
  margin-bottom: 0.3vw;
}
#section #section2>.profile_content>.profile_wrap>.profile_box>.education>li:nth-child(2)>p>span{
  display: block;
}
#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li>h2{
  font-size: 1.2vw;
  color: #595959;
  margin-right: 1vw;
  box-sizing: border-box;
}
#section #section2>.profile_bottom{
  display: flex;
}
#section #section2>.profile_bottom>div{
  width: 55%;
  text-align: center;
}
#section #section2>.profile_bottom>div>img{
  width: 80%;
  margin-top: 1.8vw;
  margin-left: 7vw;
  text-align: center;
}
#section #section2>.profile_bottom>.myskill{
  width: 40%;
  margin-top: 5vw;
  box-sizing: border-box;
  margin-left: 0.3vw;
}
#section #section2>.profile_bottom>.myskill>li{
  display: flex;
  width: 90%;
  box-sizing: border-box;
}
#section #section2>.profile_bottom>.myskill>li>h1{
  color: #f5232a;
  font-size: 1.5vw;
  margin-bottom: 1.5vw;
}
#section #section2>.profile_bottom>.myskill>li>div>p{
  box-sizing: border-box;
}
#section #section2>.profile_bottom>.myskill>li>div{
  display: flex;
}
#section #section2>.profile_bottom>.myskill>li>div>p>img{
  width: 100%;
  margin-right: 5%;
}
/* ----------------------------------------------------------- */
#section #section3{
  width: 100%;
  position: relative;
}
#section #section3 .section3_nav{
  display: none;
}
#section #section3 .section3_nav>ul{
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 2vw;
  top: 1vw;
  z-index: 1000;
  background-color: rgba(0,0,0,0.4);
  padding: 1vw 1.5vw;
  border-radius: 5vw;
}
#section #section3 .section3_nav>ul>li{
  cursor: pointer;
  font-size: 1vw;
}
#section #section3 .project{
  background-image: url(images/section_bg.png);
  background-size: cover;
  width: 100%; height: 44.4vw;
  /* border: 1px solid red; */
  padding-top: 11.9vw;
  display: flex;
}
#section #section3 .project:nth-child(odd){
  flex-direction: row-reverse;
}
#section #section3 .project>.p_left{
  width: 40%;
  margin: 0 auto;
  padding: 0 5%;
  margin-top: -5vw;
  box-sizing: border-box;
}
#section #section3 .project:nth-child(odd)>.p_left{
  padding-right: 10%;
}
#section #section3 .project>.p_left .p_title{
  margin-bottom: 5vw;
  color: rgba(209, 209, 209, 0.553);
}
#section #section3 .project>.p_left .p_title>h1{
  padding-top: -5vw;
  padding-bottom: 3%;
  font-size: 2vw;
}
#section #section3 .project>.p_left>.p_text>li>h2{
  font-size: 1.3vw;
  color: #b1f041;
  margin-bottom: 4%;
}
#section #section3 .p6>.p_left>.p_text>li:nth-child(1)>img{
  transform: scale(1.6);
  margin-left: 2vw;
  padding: 0.7vw 0;
}
#section #section3 .p5>.p_left>.p_text>li>h2{
  margin-bottom: 6%;
}
#section #section3 .p5>.p_left>.p_text>li:nth-child(2)>p{
  margin-bottom: 2vw;
}
#section #section3 .p6>.p_left>.p_text>li>h2{
  margin-bottom: 1.6vw;
}
#section #section3 .p7>.p_left>.p_text>li>h2{
  margin-bottom: 7%;
}
#section #section3 .p2>.p_left>.p_text>li>h2{
  color: #4294ff;
}#section #section3 .p3>.p_left>.p_text>li>h2{
  color: #ffc738;
}#section #section3 .p4>.p_left>.p_text>li>h2{
  color: #f5232a;
}#section #section3 .p5>.p_left>.p_text>li>h2{
  color: #d3e06d;
}#section #section3 .p6>.p_left>.p_text>li>h2{
  color: #ff6801;
}#section #section3 .p7>.p_left>.p_text>li>h2{
  color: #7446f5;
}
#section #section3 .project>.p_left>.p_text>li:first-child>img{
  width: 33%;
  margin-bottom:7%;
  margin-top: -2vw;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(3){
  display: flex;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(3)>h2, li:nth-child(4)>h2{
  margin-right: 5%;
  align-content: center;
  align-items: center;
  align-self: center;
}
#section #section3 .project>.p_left>.p_text>li>p{
  margin-bottom: 3%;
  font-size: 1vw;
  line-height: 1.6vw;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(4)>.tool{
  display: flex;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(4)>.tool>li>img{
  width: 90%;
  margin-right: 3%;
}
#section #section3 .p5>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 70%;
}
#section #section3 .p6>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 90%;
}
#section #section3 .p7>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 80%;
}
#section #section3 .project>.p_left>.p_text>li>p>span{
  display: block;
}
#section #section3 .project>.p_left>.btn{
  display: flex;
  margin-top: 7%;
  margin-left: 1%;
  box-sizing: border-box;
}
#section #section3 .project>.p_left>.btn>p{
  text-align: center;
  width: 12vw; height: 3vw;
  margin-right: 5%;
  border: 1px solid #b1f041;
  box-sizing: border-box;
  overflow: hidden;
}
#section #section3 .project>.p_left>.btn>p>a{
  position: relative;
  top:-2.4vw; left: auto;
  font-size: 1vw;
  transition: all 0.3s ease-in;
}
#section #section3 .project>.p_left>.btn>p:hover>a{
  font-weight: bold;
}
#section #section3 .p5>.p_left>.btn>p:hover>a,#section #section3 .p1>.p_left>.btn>p:hover>a{
  color: black;
}
#section #section3 .project>.p_left>.btn>p::before{
  display: block;
  align-content: center;
  content: "";
  width: 12vw; height: 3vw;
  background-color: #b1f041;
  position: relative;
  top:0; left: -15vw;
  transition: all 0.3s ease-in;
}
#section #section3 .p2>.p_left>.btn>p::before{
  background-color: #4294ff;
}
#section #section3 .p3>.p_left>.btn>p::before{
  background-color: #ffc738;
}
#section #section3 .p4>.p_left>.btn>p::before{
  background-color: #f5232a;
}
#section #section3 .p5>.p_left>.btn>p::before{
  background-color: #d3e06d;
}
#section #section3 .p6>.p_left>.btn>p::before{
  background-color: #ff6801;
}
#section #section3 .p7>.p_left>.btn>p::before{
  background-color: #7446f5;
}
#section #section3 .project>.p_left>.btn>p:hover::before{
  top:0; left: 0vw;
}
#section #section3 .p2>.p_left>.btn>p{
  border: 1px solid #4294ff;
}
#section #section3 .p3>.p_left>.btn>p{
  border: 1px solid #ffc738;
}
#section #section3 .p4>.p_left>.btn>p{
  border: 1px solid #9a1216;
}
#section #section3 .p5>.p_left>.btn>p{
  border: 1px solid #d3e06d;
}
#section #section3 .p6>.p_left>.btn>p{
  border: 1px solid #ff6801;
}
#section #section3 .p7>.p_left>.btn>p{
  border: 1px solid #7446f5;
}
/*  */
#section #section3 .project>.p_right{
  width: 60%;
  /* border: 1px solid yellow; */
}
#section #section3 .project:nth-child(even)>.p_right{
  text-align: right;
}
#section #section3 .project>.p_right>a>img{
  width: 100%;
  padding-top: 3%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  object-fit:cover;
  box-sizing: border-box;
  transition: all 1s;
  box-sizing: border-box;
}
#section #section3 .project:nth-child(even)>.p_right>a>img{
  padding-right: 10%;
}
#section #section3 .project:nth-child(odd)>.p_right>a>img{
  padding-left: 10%;
}
#section #section3 .project>.p_right>a>img:hover{
  transform: scale(1.025);
}
#section #section4{
  width: 100%;
  height: 46.9vw;
  background-color: black;
  box-sizing: border-box;
}
#section #section4>h1{
  font-size: 2vw;
  padding-top: 4vw;
  padding-left: 5vw;
  box-sizing: border-box;
}
#section #section4>.javascript{
  width: 90%;
  margin: 0 auto;
  margin-top: 4vw;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
#section #section4>.javascript>li{
  width: 100%; height: 9vw;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#section #section4>.javascript>li::before{
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  top:8.8vw; left: -90vw;
  border-bottom: 3px solid rgb(255, 255, 255);
  transition: all 0.4s ease-in;
}
#section #section4>.javascript>li:hover{
  background-color: rgba(138, 138, 138, 0.37);
}
#section #section4>.javascript>li:hover::before{
  top:8.8vw; left: 0vw;
}
#section #section4>.javascript>li>a{
  display: flex;
}
#section #section4>.javascript>li>a>p{
  margin-right: 5vw;
  margin-left: 1vw;
  font-size: 1.5vw;
  box-sizing: border-box;
}
#section #section4>.javascript>li>a>p{
  width: 10%;
}
#section #section4>.javascript>li>a>h1{
  width: 30%;
  margin: 0 auto;
}
#section #section4>.javascript li>a>h3{
  width: 60%;
}
#section #section4>.javascript>li>a>h3{
  font-size: 2.5vw;
}
#section #section4>.javascript>li>a>h1>img{
  width: 60%;
  box-sizing: border-box;
  display: none;
}
#section #section4>.javascript>li:hover>a>h1>img{
  display: block;
  margin: 0 auto;
}
/* #section .section4>.javascript>li:nth-child(1)>p:nth-of-type(2)>img{
  margin-left: 121.2%;
  box-sizing: border-box;
}
#section .section4>.javascript>li:nth-child(3)>p:nth-of-type(2)>img{
  margin-left: 133.6%;
  box-sizing: border-box;
} */
#section #section5{
  width: 100%; height: 30vw;
  background-color: black;
  align-content: center;
  text-align: center;
}
#section #section5 .connect>h1{
  margin-top: 10vw;
  font-size: 5vw;
}
#section #section5 .connect>ul{
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 10vw;
  justify-content: space-between;
  box-sizing: border-box;
}

@media all and (min-width:769px) and (max-width:1024px){
  #header h1{
    font-size: 2vw;
    margin-left: 5vw;
    margin-top: 2vw;
    box-sizing: border-box;
  }
  #header>ul{
    width: 60%;
    z-index: 1000;
    /* border: 1px solid red; */
    font-size: 1.7vw;
    margin-top: 2.5vw;
  }
  #section .quick_menu{
    position: fixed;
    bottom: 7vw; right: 3vw;
    font-size: 3vw;
    box-sizing: border-box;
  }
  #section .quick_menu .quick_sub>li>a>i{
    width: 4.5vw; height: 4.5vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
  }
  #section .quick_menu .quick_sub>li>p{
    font-size: 1.7vw;
  }
  #section .quick_menu .quick_btn{
    position: absolute;
    bottom: -4vw; right: -1vw;
    width: 5vw; height: 5vw;
    font-size: 5vw;
    margin-right: 1vw;
    box-sizing: border-box;
  }
  #section #section2{
    padding-bottom: 101%;
  }
  #section #section2>.profile_content{
    padding-left: 1%;
    padding-right: 30%;
  }
  #section #section2>.profile_content>h1{
    font-size: 4vw;
    padding: 5vw 4vw;
    color: #595959;
  }
  #section #section2>.profile_content>.profile_wrap{
    display: block;
  }
  #section #section2>.profile_content>.profile_wrap>.profile_box{
    width:140%;
    margin-left: 2vw;
    /* border: 1px solid red; */
  }
  #section #section2>.profile_content>.profile_wrap>.profile_box:nth-child(1){
    justify-content:space-around;
    margin-bottom: 3vw;
  }
  /* #section #section2>.profile_content>.profile_wrap>.profile_box:nth-child(2){
    justify-content:center;
  } */
  #section #section2>.profile_content>.profile_wrap>.profile_box>ul>li:nth-child(1)>h1{
    font-size: 2.5vw;
    margin-bottom: 1.5vw;
  }
  #section #section2>.profile_content>.profile_wrap>.profile_box>ul>li>h2{
    font-size: 1.8vw;
    margin-bottom: 1.3vw;
  }
  #section #section2>.profile_content>.profile_wrap>.profile_box>ul>li>p{
    font-size: 1.6vw;
    font-weight: 500;
    margin-bottom: 1.5vw;
  }
  #section #section2>.profile_content>.profile_wrap>.profile_box>.education>li>p,
  #section #section2>.profile_content>.profile_wrap>.profile_box>.career>li>p{
    margin-top: -1vw;
  }
  #section #section2>.profile_content>.profile_wrap>.profile_box:nth-child(2)>.certificate{
    margin-left: -12vw;
    margin-right: -4vw;
  }
  #section #section2>.profile_bottom{
    /* border: 1px solid red; */
    flex-direction:row-reverse;
    justify-content: flex-start;
    /* border: 1px solid black; */
  }
  #section #section2>.profile_bottom>div{
    margin-bottom: 1vw;
  }
  #section #section2>.profile_bottom>div>img{
    width: 58vw;
    margin-left:-5.5vw;
    margin-top: -4vw;
    text-align: center;
    opacity: 0.2;
  }
  #section #section2>.profile_bottom>.myskill{
    padding-left: 9vw;
    margin:0;
    padding-top: 2vw;
    /* border: 1px solid red; */
  }
  #section #section2>.profile_bottom>.myskill>li{
    display: block;
  }
  #section #section2>.profile_bottom>.myskill>li:nth-child(1)>h1{
    font-size: 2.5vw;
    padding-left: 2%;
  }
  #section #section2>.profile_bottom>.myskill>li:nth-child(2)>div>p{
    flex-flow: wrap;
    display: block;
  }
  #section #section2>.profile_bottom>.myskill>li:nth-child(2)>div>p>img{
    width: 5vw;
    padding-right: 2vw;
  }
  #section #section3>.section3_nav>ul{
    width: 70vw;
  }
  #section #section3>.section3_nav>ul>li{
    font-size: 1.7vw;
  }
  #section #section3>.project{
    position: relative;
    padding-bottom: 70%;
    flex-direction: column;
  }
  #section #section3 .project:nth-child(odd){
    flex-direction: column;
  }
  #section #section3 .project>.p_right>a>img{
    width: 90vw; height: 50vw;
    justify-content: center;
    display: block;
    box-sizing: border-box;
  }
  #section #section3 .project:nth-child(even)>.p_right>a>img{
    margin-left: 7.5vw;
  }
  #section #section3 .project:nth-child(odd)>.p_right>a>img{
    margin-left: 1.5vw;
  }
  #section #section3 .p7>.p_right>a>img{
    margin-top: -4vw;
  }
  #section #section3 .project>.p_left .p_title>h1{
    position: absolute;
    top:10vw; left: 7vw;
    font-size: 3vw;
  }
  #section #section3 .project>.p_left{
    width: 95%;
    padding-bottom: 10vw;
  }
  #section #section3 .project>.p_left>.p_text>li{
    display: flex;
    box-sizing: border-box;
    box-sizing: content-box;
  }
  #section #section3 .project>.p_left>.p_text>li>h2{
    font-size: 2.5vw;
    width: max-content;
    margin-right: 2vw;
    box-sizing: border-box;
  }
  #section #section3 .project>.p_left>.p_text>li>p{
    font-size: 1.9vw;
    line-height: normal;
    align-items: center;
  }
  #section #section3 .project>.p_left>.p_text>li:nth-child(1)>img{
    margin-top: 7vw;
    width: 20%;
  }
  #section #section3 .p6>.p_left>.p_text>li:nth-child(1)>img{
    width: 15%;
    margin-left: 3vw;
  }
  #section #section3 .project>.p_left>.p_text>li:nth-child(2)>h2{
    width: 47vw;
  }
  #section #section3 .project>.p_left>.p_text>li:nth-child(2){
    margin-bottom: 3vw;
  }
  #section #section3 .p2>.p_left>.p_text>li:nth-child(2)>p{
    margin-left: 2vw;
  }
  #section #section3 .p3>.p_left>.p_text>li:nth-child(2)>p{
    margin-left: -4vw;
  }
  #section #section3 .p4>.p_left>.p_text>li:nth-child(2)>p{
    margin-left: 3.8vw;
  }
  #section #section3 .p5>.p_left>.p_text>li:nth-child(2)>p{
    margin-left: -12.5vw;
  }
  #section #section3 .p6>.p_left>.p_text>li:nth-child(2)>p{
    margin-left: -6vw;
  }
  #section #section3 .p7>.p_left>.p_text>li:nth-child(2)>p{
    margin-left: -9vw;
  }
  #section #section3 .project>.p_left>.p_text>li:nth-child(2)>p>span{
    display: inline;
  }
  #section #section3 .project>.p_left>.p_text>li:nth-child(3)>h2{
    margin-right: 11.5vw;
  }
  #section #section3 .project>.p_left>.p_text>li:nth-child(4)>ul{
    width: 60%;
    margin-left: 11.5vw;
  }
  #section #section3 .p5>.p_left>.p_text>li:nth-child(4)>.tool{
    width: 40%;
  }
  #section #section3 .project>.p_left>.btn{
    position: absolute;
    top:12vw; left: 25vw;
  }
  #section #section3 .p1>.p_left>.btn{
    top:12vw; left: 26vw;
  }
  #section #section3 .p6>.p_left>.p_text>li:nth-child(4)>.tool{
    width: 40%;
  }
  #section #section3 .p7>.p_left>.p_text>li:nth-child(4)>.tool{
    width: 40%;
  }
  #section #section3 .project>.p_left>.btn>p{
    width: 25vw; height: 5vw;
    margin: 0 auto;
    padding: 0;
    margin-left: 2vw;
  }
  #section #section3 .project>.p_left>.btn>p>a{
    font-size: 2vw;
    top:-4.2vw;
    padding: 0;
    align-items: center;
  }
  #section #section3 .project>.p_left>.btn>p::before{
    width: 25vw; height: 5vw;
    top:0vw; left: -30vw;
  }
  #section #section4>h1{
    font-size: 3vw;
    padding: 7vw 5vw;
  }
  #section #section4>.javascript>li>a>p{
    font-size: 2vw;
  }
  #section #section5{
    padding-top: 15vw;
    padding-bottom: 5vw;
  }
  #section #section5 .connect>ul>li>a{
    font-size: 1.7vw;
  }
}
@media all and (max-width:778px){
  #header{
    width: 100%; height: 15vw;
    position: fixed;
    top: 0; left: 0%;
    background-color: black;
  }
  #header h1{
    display: none;
  }
  #header>ul{
    display: none;
  }
  #header>.hamburger_menu{
    z-index: 10000;
    width: 90%;
    margin: 0 auto;
  }
  #header>.hamburger_menu>.hamburger_bar{
    display: flex;
    justify-content: space-between;
  }
  #header>.hamburger_menu>.hamburger_bar>.hamburg_logo>a{
    font-size: 5vw;
    font-weight: bold;
  }
  #header>.hamburger_menu>.hamburger_bar>.hamburger_icon>i{
    font-size: 9vw;
    cursor: pointer;
    font-weight: bold;
  }
  #header>.hamburger_menu{
    display: block;
    z-index: 10000;
  }
  #section #section1{
    padding-bottom: 170%;
    z-index: 10000;
    background-image: none;
    background-color: black;
  }
  #section .cursor{
    display: none;
  }
  #section .quick_menu{
    display: none;
  }
  #section #section1 .s1_center>h1>img{
    width: 85%;
    top:35%; left: 8%;
    animation: slope 5s linear infinite;
    z-index: 100;
  }
  @keyframes slope {
    0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
  }
  #section #section1 .s1_center>h2>img{
    display: none;
}
#section #section2{
  padding-bottom: 200%;
}
#section #section2>.profile_content{
  padding-left: 1%;
  padding-right: 30%;
}
#section #section2>.profile_content>h1{
  font-size: 6vw;
  padding: 9vw 6vw;
  color: #595959;
}
#section #section2>.profile_content>.profile_wrap{
  display: block;
}
#section #section2>.profile_content>.profile_wrap>.profile_box{
  width:150%;
  margin-left: -1.2vw;
}
#section #section2>.profile_content>.profile_wrap>.profile_box:nth-child(1){
  justify-content:space-around;
  margin-bottom: 8vw;
}
/* #section #section2>.profile_content>.profile_wrap>.profile_box:nth-child(2){
  justify-content:center;
} */
#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li:nth-child(1)>h1{
  font-size: 3.5vw;
  margin-bottom: 4vw;
}
#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li>h2{
  font-size: 2.5vw;
  margin-bottom: 1.3vw;
}
#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li>p{
  font-size: 2vw;
  font-weight: 500;
  padding-top: 0.5vw;
  margin-bottom: 1.5vw;
}
#section #section2>.profile_content>.profile_wrap>.profile_box>.education>li>p,
#section #section2>.profile_content>.profile_wrap>.profile_box>.career>li>p{
  margin-top: -1vw;
}
#section #section2>.profile_content>.profile_wrap>.profile_box:nth-child(2)>.certificate{
  margin-left: -16vw;
  margin-right: -7vw;
}
#section #section2>.profile_bottom{
  /* border: 1px solid red; */
  flex-direction:row-reverse;
  justify-content:left;
  position: relative;
  /* border: 1px solid black; */
}
#section #section2>.profile_bottom>div>img{
  position: absolute;
  bottom: -56.7vw; left: 4vw;
}
#section #section2>.profile_bottom>.myskill{
  margin-left: 7vw;
  margin-top: 8vw;
}
#section #section2>.profile_bottom>.myskill>li{
  display: block;
}
#section #section2>.profile_bottom>.myskill>li:nth-child(1)>h1{
  font-size: 3.5vw;
}
#section #section2>.profile_bottom>.myskill>li:nth-child(2)>div>p{
  flex-flow: wrap;
  display: block;
}
#section #section2>.profile_bottom>.myskill>li:nth-child(2)>div>p>img{
  width: 7vw;
  padding-right: 3vw;
}
#section #section3>.section3_nav>ul{
  width: 90vw;
  display: none;
}
#section #section3>.section3_nav>ul>li{
  font-size: 2.3vw;
}
#section #section3>.project{
  position: relative;
  padding-bottom: 150%;
  flex-direction: column;
}
#section #section3 .project:nth-child(odd){
  flex-direction: column;
}
#section #section3 .project>.p_right>a>img{
  margin-top: 3vw;
  padding: 0; margin: 0;
  padding-left: 5.5vw;
  width: 93.5vw; height: 50vw;
  justify-content: center;
  display: block;
  box-sizing: border-box;
  
}
#section #section3 .project>.p_right{
  padding: 0;
  margin: 0;
  width: 92%;
  margin: 0 auto;
  margin-top: 2vw;
  text-align: center;
  justify-content: center;
  align-content: center;
}
#section #section3 .project>.p_right>a{
  width:fit-content;
  background-color: #4294ff;
}
#section #section3 .project:nth-child(odd)>.p_right>a>img{
  box-sizing: border-box;
  margin-left: -6.4vw;
}
#section #section3 .project>.p_left .p_title>h1{
  position: absolute;
  top:10vw; left: 7vw;
  font-size: 4.5vw;
  color: #595959a9;
}
#section #section3 .project>.p_left{
  width: 95%;
  padding-top: 9vw;
  padding-bottom: 10vw;
}
#section #section3 .project>.p_left>.p_text{
  display: block;
  margin-top: 5vw;
}
#section #section3 .project>.p_left>.p_text>li{
  display: block;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-align: center;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(1){
  margin-top: 10vw;
  box-sizing: border-box;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(2){
  margin-top: 12vw;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(3){
  display: block;
  
}
#section #section3 .project>.p_left>.p_text>li:nth-child(3)>h2{
  margin: 0; padding: 0;
  margin-bottom: 2vw;
  margin-top: 7vw;
}
#section #section3 .project>.p_left>.p_text>li>h2{
  font-size: 3vw;
  margin: 0; padding: 0;
  box-sizing: border-box;
  margin-bottom: 2vw;
  margin-top: 7vw;
}
#section #section3 .project>.p_left>.p_text>li>p{
  font-size: 2.5vw;
  line-height: normal;
  align-items: center;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(1)>img{
  width: 25%;
  margin-top: 4vw;
}
#section #section3 .p6>.p_left>.p_text>li:nth-child(1)>img{
  width: 23%;
  margin-left: 3vw;
}
#section #section3 .p7>.p_left>.p_text>li:nth-child(1)>img{
  width: 30%;
  margin-bottom: 5vw;
}
#section #section3 .project>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 100%;
  margin: 0 auto;
}
#section #section3 .p5>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 50%;
}
#section #section3 .project>.p_left>.btn{
  position: absolute;
  top:36vw; left: 28vw;
}
#section #section3 .p1>.p_left>.btn{
  top:34vw; left: 15vw;
}
#section #section3 .p3>.p_left>.btn{
  top:34vw; left: 30vw;
}
#section #section3 .p4>.p_left>.btn{
  top:37vw; left: 15vw;
}
#section #section3 .p5>.p_left>.btn{
  top:33vw; left: 30.5vw;
}
#section #section3 .p6>.p_left>.btn{
  top:35vw; left: 28vw;
}
#section #section3 .p7>.p_left>.btn{
  top:34vw; left: 31vw;
}
#section #section3 .p4>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 110%;
}
#section #section3 .p5>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 70%;
}
#section #section3 .p6>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 65%;
}
#section #section3 .p7>.p_left>.p_text>li:nth-child(4)>.tool{
  width: 60%;
}
#section #section3 .project>.p_left>.btn>p{
  width: 27vw; height: 8vw;
  margin: 0 auto;
  padding: 0;
  margin-left: 4vw;
}
#section #section3 .project>.p_left>.btn>p>a{
  font-size: 2.7vw;
  top:-7.8vw;
  align-items: center;
}
#section #section3 .project>.p_left>.btn>p::before{
  width: 27vw; height: 8vw;
  top:0vw; left: -30vw;
}
#section #section4{
  padding-bottom: 50%;
}
#section #section4>h1{
  font-size: 4vw;
  padding: 9vw 5vw;
  color: #838383;
}
#section #section4>.javascript>li>a>p{
  font-size: 2vw;
}
#section #section5{
  padding-top: 15vw;
  padding-bottom: 5vw;
}
#section #section5 .connect>ul>li>a{
  font-size: 1.7vw;
}
#section #section4>.javascript>li{
  height: 13vw;
  align-items: center;
}
#section #section4>.javascript>li::before{
  top:12.8vw;
}
#section #section4>.javascript>li:hover::before{
  top:12.8vw;
}
#section #section4>.javascript>li>a>p{
  font-size: 2.5vw;
}
#section #section4>.javascript>li>a>h3{
  font-size: 3.5vw;
}
#section #section4>.javascript>li>a>h1>img{
  width: 100%;
}
#section #section5{
  padding-top: 35vw;
  padding-bottom: 7vw;
}
}